<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ELibrary"
        tools:targetApi="31">

        <activity
            android:name=".layout_activity.RentStatusActivity"
            android:exported="false" />
        <activity
            android:name=".layout_activity.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".layout_activity.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".layout_activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".layout_activity.Home"
            android:name=".layout_activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".layout_activity.Home"
            android:exported="false"/>
        <activity
            android:name=".layout_activity.LoginPage"
            android:exported="false" />
        <activity
            android:name=".layout_activity.RegisterPage"
            android:exported="false" />
        <activity
            android:name=".layout_activity.OnBoarding"
            android:exported="false" />
        <activity
            android:name=".layout_activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".layout_activity.wishlist.Wishlist_Display"
            android:exported="false" />
        <activity
            android:name=".layout_activity.Profile"
            android:exported="false" />
        <activity
            android:name=".layout_activity.EditProfile"
            android:exported="false" />
        <activity
            android:name=".layout_activity.HistoryActivity"
            android:exported="false" />

        <!--        <activity-->
        <!--            android:name=".layout_activity.StatusPeminjaman"-->
        <!--            android:exported="false" />-->

        <!--        <activity-->
        <!--            android:name=".layout_activity.SearchActivity"-->
        <!--            android:exported="false" />-->

    </application>


</manifest>